/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import "../node_modules/bootswatch/dist/Quartz/bootstrap.min.css";

::-webkit-scrollbar {
	width:10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background:#333;
}

::-webkit-scrollbar-thumb {
  background: #a818ad;
  border-radius: 40px;
}

